<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../../css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/xadmin.js" th:src="@{/adminStatic/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../js/xadmin.js" th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-form-item {
            margin-bottom: 0;
        }
        .layui-form-pane .layui-form-label {
            max-width: 100px;
        }
        .layui-form-item .layui-input-inline {
            width: 180px;
        }
        .layui-form-pane .layui-form-label {
            padding: 9px 15px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form">
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo" lay-filter="listInfo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm iconfont layui-btn-normal" lay-event="add">&#xe6b9; 添加</button>
        <button class="layui-btn layui-btn-sm iconfont layui-btn-danger" lay-event="del">&#xe69d; 删除</button>
        <button class="layui-btn layui-btn-sm iconfont layui-btn-warm" lay-event="tips">&#xe6a3; 修改</button>
    </div>
</script>

<script>
    layui.use(['table','form', 'upload', 'laydate'],
        function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate;

            // 初始化加载
            loadFunction("getDataByPage");

            /**
             * 加载表格方法
             * @param url
             */
            function loadFunction(url) {
                //第一个实例
                table.render({
                    elem: '#listInfo'
                    , height: 'full-85'
                    , url: url //数据接口
                    , defaultToolbar: ['filter']
                    , loading: true
                    , limit: 20
                    , title: '渠道信息'
                    , toolbar: '#toolbarDemo'
                    , page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] //自定义分页布局
                        ,groups: 5 //只显示 5 个连续页码
                        ,theme: '#1E9FFF'
                    }
                    , cols:
                        [
                            [ //表头
                                {type: 'checkbox',fixed: 'left'}
                                , { type: 'numbers', title: '序号', width: 60  }
                                , {field: 'id', title: '主键标识', width: 120, hide: true}
                                , {field: 'chargeName', title: '收费项名称', edit: true}
                                , {field: 'itemPrice', title: '项目单价', edit: true, templet: '<div>{{d.itemPrice / 100}}元</div>'}
                                , {field: 'priceDesc', title: '计费描述', edit: true}
                                , {field: 'createDate', title: '创建时间', sort: true}
                            ]
                        ]
                })
            }

            //头工具栏事件
            table.on('toolbar(listInfo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                var selectCount = data.length;      //获取选中行
                var dataId = getIds(data);          //data是选中的所有数据，得到的是一个数组，将这个数组传入getIds方法进行处理
                switch (obj.event) {
                    case 'add':
                        toWindow("../propertyChargeItem/toAddWindow", "新增收费项目", "400px", "380px");
                        break;
                    //自定义头工具栏右侧图标 - 提示
                    case 'del':
                        // 删除重要信息
                        deleteInfo(selectCount, dataId, "deleteInfo?ids=" + dataId);
                        break;
                    case 'tips':
                        layer.confirm("修改时可以直接单击要修改的单元格进行修改。<br/><span style='color:red;'>注意：</span>" +
                            "在修改单价时填入的价格单位为分。<br/>例如 1元 = 100分", {
                            btn: ['确定']  //按钮
                            , icon: 3
                        });
                        break;
                }
            });

            // 监听单元格编辑
            table.on('edit(listInfo)', function(obj){
                var data = obj.data; // 得到当前行的所有数据
                // 发起修改请求
                $.ajax({
                    url: "updateInfo",
                    type: 'PUT',
                    async: false,
                    contentType : 'application/json;charset=utf-8', //设置请求头信息
                    data: JSON.stringify(data),
                    success: function(rollData) {
                        if (rollData.code == 0) {
                            layer.msg(rollData.msg, {
                                icon: 6
                                , time: 1000
                            });
                        } else {
                            layer.msg(rollData.msg, {
                                icon: 5
                                , time: 1500
                            });
                        }
                    },
                    error: function(res) {
                        layer.msg('啊哦！访问出问题了！快找开发狗算账！', {
                            icon: 5
                        });
                    }
                })
            });
        });
</script>
</html>