<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.property.dao.MenuAdminRelationMapper">
    <resultMap id="BaseResultMap" type="com.project.property.entity.MenuAdminRelation">
        <!--@mbg.generated-->
        <!--@Table menu_admin_relation-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="menu_id" jdbcType="INTEGER" property="menuId"/>
        <association property="menu" javaType="com.project.property.entity.Menu">
            <id column="mId" property="id"/>
            <result column="parent_id" property="parentId"/>
            <result column="icon_name" property="iconName" />
            <result column="menu_name" property="menuName" />
            <result column="url" property="url" />
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, menu_id
    </sql>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.project.property.entity.MenuAdminRelation" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into menu_admin_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!-- 根据用户ID查询菜单信息 -->
    <select id="selectInfoByUserId" resultMap="BaseResultMap">
        select mr.id, user_id, menu_id, m.id mId, parent_id, menu_name, url, icon_name
        from menu_admin_relation mr
        inner join menu m on mr.menu_id = m.id
        inner join admin a on a.id = mr.user_id
        where mr.user_id = #{userId}
    </select>
</mapper>