body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 32px;
	color: #333;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #1f386e;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #e52f3c;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 30px rgba(0,0,0,0.2)
}
#menu a.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #1f386e;
	text-transform: uppercase;
	letter-spacing: -1px;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #1f386e;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 10px 0 10px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #ce2a36;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ce2a36 !important;
	background-color: transparent;
}
#menu .phone {
	font-family: 'Montserrat', sans-serif;
	margin: 4px 0 0 120px;
	float: left;
	font-size: 16px;
	font-weight: 400;
	color: #999;
}
#menu .phone span {
	font-size: 14px;
	display: block;
	color: #1f386e;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #fff;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #1b6d3f;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section-title h2::after {
	position: absolute;
	content: "";
	background-color: #e52f3c;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #e52f3c;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #1f386e;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-bg.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.3);
}
.intro h1 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 62px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
	text-shadow: 0 0 15px rgba(0,0,0,0.5)
}
.intro p {
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: rgba(0,0,0,.45);
}
header .intro-text {
	padding-top: 350px;
	padding-bottom: 150px;
	text-align: center;
}
/* Get Touch Section */
#get-touch {
	padding: 40px 0 30px;
	color: rgba(255,255,255,.7);
	background: #1f386e;
}
#get-touch h3 {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 10px 0;
}
#get-touch .btn-custom {
	margin: 0;
	background: transparent;
	border: 2px solid #fff;
}
#get-touch .btn-custom:hover {
	color: #1f386e;
	background: #fff;
	border: 2px solid #fff;
}
/* Notice Section */
#access {
	padding: 110px 0;
	background: #f6f6f6;
}
#access h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#access h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#access h2::after {
	position: absolute;
	content: "";
	background-color: #e52f3c;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#access .about-text .new_a {
	text-decoration-line: none;
	color: #777;
}
#access .about-text li:hover a {
	cursor: pointer;
	color: #888;
	text-decoration: underline;
}
#access img {
	padding: 20px;
	width: 500px;
	height: 330px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#access p {
	line-height: 24px;
	margin: 30px 0;
}
/* Notice Section */
#notice {
	padding: 110px 0;
	background: #FFF;
}
#notice h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#notice h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#notice h2::after {
	position: absolute;
	content: "";
	background-color: #e52f3c;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#notice .about-text .new_a {
	text-decoration-line: none;
	color: #777;
}
#notice .about-text li:hover a {
	cursor: pointer;
	color: #888;
	text-decoration: underline;
}
#notice img {
	padding: 20px;
	width: 500px;
	height: 330px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#notice p {
	line-height: 24px;
	margin: 30px 0;
}
/* About Section */
#about {
	padding: 110px 0;
	background: #f6f6f6;
}
#about h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#about h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#about h2::after {
	position: absolute;
	content: "";
	background-color: #e52f3c;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#about .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#about .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #777;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#about .about-text .new_a {
	text-decoration-line: none;
	color: #777;
}
#about .about-text li:hover a {
	cursor: pointer;
	color: #888;
	text-decoration: underline;
}
#about img {
	padding: 20px;
	width: 500px;
	height: 330px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#about p {
	line-height: 24px;
	margin: 30px 0;
}
/* Services Section */
#services {
	padding: 110px 0;
	background: #FFF;
}
#services h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#services h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#services h2::after {
	position: absolute;
	content: "";
	background-color: #e52f3c;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#services .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#services .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #777;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#services .about-text .new_a {
	text-decoration-line: none;
	color: #777;
}
#services .about-text li:hover a {
	cursor: pointer;
	color: #888;
	text-decoration: underline;
}
#services img {
	padding: 20px;
	width: 500px;
	height: 330px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#services p {
	line-height: 24px;
	margin: 30px 0;
}
/* Testimonials Section */
#testimonials {
	padding: 110px 0;
	/*background: #f6f6f6;*/
}
#testimonials h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#testimonials h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#testimonials h2::after {
	position: absolute;
	content: "";
	background-color: #e52f3c;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#testimonials .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#testimonials .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #777;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#testimonials .about-text .new_a {
	text-decoration-line: none;
	color: #777;
}
#testimonials .about-text li:hover a {
	cursor: pointer;
	color: #888;
	text-decoration: underline;
}
#testimonials img {
	padding: 20px;
	width: 500px;
	height: 330px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#testimonials p {
	line-height: 24px;
	margin: 30px 0;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	display: block;
}
#contact .social {
	border-top: 1px solid rgba(255,255,255,0.1);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding: 10px;
	color: rgba(255,255,255,0.6);
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #fff;
}
/* Footer Section*/
#footer {
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #1f386e;
}
#footer a:hover {
	color: #e52f3c;
}

@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}
