<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script th:src="@{/adminStatic/js/MyLayuiUtils.js}" src="" type="text/javascript"></script>
    <style type="text/css">
        html {
            height: 100%;
        }
    </style>
</head>
<body style="height: 100%;box-sizing: border-box;margin: 0;padding: 0;">
    <div style="height: 100%">

    </div>
    <script type="text/javascript">
        layui.use(['layer'], function () {

            var layer = layui.layer;

            layer.msg('未检测到登录状态…正在前往登录页面…', {
                icon: 5,
                time: 1500,
                shade: .2,
                end: function () {
                    if (window != top){
                        top.location.href=getPath()+"/system/toLoginPage";
                        return;
                    }
                    window.location.href=getPath()+"/system/toLoginPage";
                }
            });
        })
    </script>
</body>
</html>