<!doctype html>
<html  class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>黄金水岸小区物业管理系统</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../static/adminStatic/css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../static/adminStatic/css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <link rel="stylesheet" href="../static/adminStatic/css/xadmin.css" th:href="@{/adminStatic/css/login.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">黄金水岸小区物业管理系统</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" th:action="@{/system/toMainPage}">
            <!-- lay-verify="required" -->
            <input name="userName" placeholder="用户名"  type="text" class="layui-input" >
            <hr class="hr15">
            <!-- lay-verify="required" -->
            <input name="password"  placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <p style="text-align: center;color: red;font-size: 14px;" th:if="${msg != null}" th:text="${msg}"></p>
            <hr class="hr15">
            <input value="登录" lay-filter="login" style="width:100%;" type="submit">
<!--            <a style="width:100%; margin-top: 15px" th:href="@{/index}" target="_blank">前台首页</a>-->
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){

            });
        })
    </script>
</body>
</html>