<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../../static/adminStatic/css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../../../static/adminStatic/css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js" th:src="@{/adminStatic/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js" th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .layui-form-item {
            margin-bottom: 0;
        }
        .layui-form-pane .layui-form-label {
            max-width: 100px;
        }
        .layui-form-item .layui-input-inline .layui-form-select {
            width: 180px;
        }
        .layui-form-pane .layui-form-label {
            padding: 9px 15px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form">
                        <input type="hidden" name="userId" th:value="${userId}">
                        <!-- 根据标题查询 -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">标题名</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" autocomplete="off" placeholder="请输入要查询的标题" name="notice.title">
                            </div>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn layui-btn-normal" id="searchBtn" type="button" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <input class="layui-btn layui-btn-normal layui-icon" type="reset" value="&#xe669;"/>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo" lay-filter="listInfo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm iconfont layui-btn-danger" lay-event="del">&#xe69d; 删除</button>
    </div>
</script>

<script id="operationBar" type="text/html">
    {{# if(d.isDelete == '0') {}}
    <button class="layui-btn layui-btn-sm iconfont layui-btn-warm" lay-event="edit">&#xe69e; 修改</button>
    {{# } }}
</script>

<script>
    layui.use(['table','form', 'upload', 'laydate'],
        function () {
            var table = layui.table,
                layer = layui.layer,
                form = layui.form,
                upload = layui.upload,
                laydate = layui.laydate;

            // 初始调用表格加载方法
            loadFunction("getDataByPage?type=1&userId=[[${userId}]]");

            /**
             * 绑定查询按钮
             */
            $("#searchBtn").click(function() {
                // 获取表单数据
                var sendData = $("#form").serialize();
                // 重新调用表格加载方法
                loadFunction("getDataByPage?type=1&" + sendData)
            })

            /**
             * 加载表格方法
             * @param url
             */
            function loadFunction(url) {
                //第一个实例
                table.render({
                    elem: '#listInfo'
                    , height: 'full-115'
                    , url: url //数据接口
                    , defaultToolbar: ['filter']
                    , loading: true
                    , limit: 5
                    , title: '渠道信息'
                    , toolbar: '#toolbarDemo'
                    , page: {
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] //自定义分页布局
                        ,groups: 5 //只显示 5 个连续页码
                        ,theme: '#1E9FFF'
                        ,limits: [5, 10, 15, 20, 25]
                    }
                    , cols:
                        [
                            [ //表头
                                {type: 'checkbox'}
                                , {field: 'id', title: '主键标识', width: 70, hide: true}
                                , {field: 'userName', title: '评价人', templet:'<div>{{d.user.userName}}</div>', width: 130}
                                , {field: 'content', title: '评价的公告', templet:'<div>{{d.notice.title}}</div>'}
                                , {field: 'content', title: '评价内容'}
                                , {field: 'isDelete', title: '状态', templet: "<div>{{d.isDelete == '2' ? '<span style=\"color:red;\">被管理员删除</span>' : " +
                                    "'<span style=\"color:blue;\">正常</span>'}}</div>"}
                                , {field: 'createDate', title: '评价时间', width: 180}
                                , {field: 'caozuo', title: '操作', toolbar:'#operationBar'}
                            ]
                        ]
                })
            }

            //头工具栏事件
            table.on('toolbar(listInfo)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                var selectCount = data.length;      //获取选中行
                var dataId = getIds(data);          //data是选中的所有数据，得到的是一个数组，将这个数组传入getIds方法进行处理
                switch (obj.event) {
                    //自定义头工具栏右侧图标 - 提示
                    case 'del':
                        // 删除重要信息
                        deleteInfo(selectCount, dataId, "deleteInfo?type=1&delIds=" + dataId);
                        break;
                }
            });

            //行内工具条
            table.on('tool(listInfo)', function(obj){
                switch(obj.event){
                    case 'edit':
                        // 获取本条信息的数据
                        var id = obj.data.id;
                        // 跳转到修改页面
                        toWindow("toEditPage?id=" + id, "修改评论", "400px", "300px")
                        break;
                }
            });
        });
</script>
</html>